body {
  background-color: silver;
}

.heading-h1, .heading-h4 {
  text-align: center;
}

.container {
  border: 2px solid white;
  width: 75%;
  margin: 0 auto;
}

.score-btn {
  border: 2px solid red;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}

.score {
  background-color: pink;
  text-align: center;
  width: 30%;
}

/* .btn-div {
  border: 2px solid blue;
  width: 30%;
} */

.rst-btn {
  margin-top: 25%;
  padding: 1rem;
}

